.product-image {
	height: 120px;
	max-width: 120px;
}

h4 {
	margin-top: 20px;
	margin-bottom: 20px;
	color: black;
}

h4:hover{
	color: grey;
}

body {
  background-color: lightgrey;
  padding-left: 5%;
  padding-right: 5%;
}
.item-container {
  padding: 10px;

}
.item {
  border-radius: 10px;
  background-color: white;
  padding: 10px;
	margin: 10px;
	margin-bottom: 40px;
	/*box-shadow: 0 4px 2px -2px gray;*/
}
.centered {
  text-align: center;
}
.bordered {
  border: 2px solid grey;
}

.description {
  /*height: 110px;*/
}

.topBorderedRow {
  border-top: 1px solid darkgrey;
}

.btn {
  border: 1px solid darkgrey;
  border-radius: 0;
  background-color: white;
  color: black;
  margin: 0;
  width: 100%;
}
